body {
  background-color: #f7f8fa;
  font-family: "微软雅黑";
  padding-right: 0 !important;
  font-size: 16px;
}
body .more {
  float: right;
}
body #middleIndex {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}
body #example {
  float: left;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
body #west {
  float: left;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  width: 16%;
  position: fixed;
}
body #contentIndex {
  float: left;
  margin-top: 10px;
  width: 50%;
  margin: 10px 10px 0 210px;
}
body #contentIndex #title-row {
  color: #000;
  font-weight: bold;
  white-space: nowrap;
}
body #contentIndex #meta-row {
  color: #b2bac2;
  font-size: 12px;
}
body #east {
  float: left;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  width: 24%;
  border: none;
  background-color: transparent;
}
body #east .touxiang {
  width: 36px;
  height: 36px;
  margin: 0 14px 14px 0 ;
}
body #east .carousel-indicators {
  position: relative;
  margin-top: 15px;
}
body #east .carousel-indicators li {
  border-color: #000;
}
body #east .carousel-indicators li.active {
  background-color: #000;
}
body #east #youcando {
  width: 95%;
  height: 100%;
  border: 1px solid rgba(0, 127, 255, 0.3);
  margin: 5px;
}
body #east #youcando h5 {
  font-weight: bold;
  text-align: center;
}
body #east #youcando #registerbtn {
  text-align: center;
  margin-bottom: 8px;
}
body #east #footer {
  text-align: center;
}
body #east #footer h5 {
  font-weight: bold;
}
.panel-body {
  padding: 0px;
}
.list-group-item {
  border: none;
}
li.list-group-item {
  padding: 0;
  border: none;
}
.panel-heading {
  background-color: #fff;
}
.panel.panel-default {
  font-size: 14px;
}
